[MASTER]
ignore=manage.py
load-plugins=pylint_django
django-settings-module=ticket_sprint.settings

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=too-few-public-methods,invalid-name,duplicate-code,too-many-return-statements,too-many-locals,too-many-branches
