{% extends 'ticketing/base.html' %}
{% block title %}Ticket Purchasing{% endblock %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<link href="{% static 'css/buy.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

  {% if type == "select-tickets" %}
  <form method="post" action="{% url 'ticketing:buy' concert.id  %}" id="select-tickets">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your Cart</span>
          <span class="badge bg-primary rounded-pill">0</span>
        </h4>
        <ul class="list-group mb-3 cart">
          
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
        <br>
        <h3 class="my-3 text-right">Total: $0.00</h3>


        <button class="w-100 btn btn-primary btn-lg" type="submit" form="select-tickets">Continue to checkout</button>
      </div>



      <div class="col-md-7 col-lg-8">

        {% csrf_token %}

        <!--CONCERT DETAILS-->
        <h4 class="mb-3">Concert Details</h4>
        <hr>
        <div class="row g-3">
          {% if concert.concert_image %}
          <img src="{% static concert.concert_image %}" class="col-sm-5">
          {% else %}
          <img src="{% static 'default.jpg' %}" class="col-sm-5">
          {% endif %}

          <div class="col-sm-7">
            <div>

              <h4 class="mb-3">Tickets</h4>
              <div id="carousel" class="carousel slide carousel-fade" data-interval="false"
                style="margin: 0; padding: 0; height: max-content;">
                <div class="carousel-inner">
                  <div class="card" style="background-color: #212F42;" id="containter-qnty">
                    <div class="row g-3">
                      <div class="col-sm-2">
                        <a class="carousel-control-prev" href="#carousel" role="button"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                      </div>

                      <div class="col-sm-8">
                        {% for i in concert.venues.first.seat_types.all %}
                        {% if i == concert.venues.first.seat_types.first %}
                        <div class="carousel-item active">
                          {% else %}
                          <div class="carousel-item">
                            {% endif %}
                            <div class="card-body">
                              <h5 class="card-title">Seat {{i.name}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">${{i.price}}</h6>
                              <p class="card-text text-muted">{{i.description}}</p>
                              <div class="input-group col-sm-6" id="select-qnty">
                                <button class="btn-sm btn-info qnty_bnt" type="button"
                                  onclick="decr_quantity()">-</button>
                                <input type="number" id="quantity" name="quantity" class="form-control text-center"
                                  value="0" readonly>
                                <button class="btn-sm btn-info qnty_bnt" type="button"
                                  onclick="incr_quantity()">+</button>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <a class="carousel-control-next" href="#carousel" role="button"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <hr class="my-4">

              <h4>{{concert.name}} ({{concert.min_age}}+)</h4>
              <p class="card-text"><small class="text-light"><i class="icon-location-pin"></i>
                  {{concert.venues.first.name }} - {{ concert.venues.first.location }}</small></p>
              <p class="card-text"><strong><i class="icon-music-tone"></i> Artist:</strong> {{ concert.artist_name }}
              </p>
              <p class="card-text"><strong><i class="icon-calendar"></i> Date:</strong> {{ concert.concert_date }}</p>
              <p class="card-text" style="border-left: 6px solid #5a5858; padding-left: 10px">{{ concert.description }}
              </p>
            </div>
          </div>

          <br><br>
          <!--PERSONAL DETAILS-->

          <h4 class="mb-3">Personal Details</h4>
          <hr>
          <div class="row g-3">
            <div>
              <h5>{{user.first_name}} {{user.last_name}}</h5>
              <p><small class="text-light"><i class="icon-phone"></i> Contact: {{user.email}}</small></p>

              {% if user.is_reseller == True %}
              <p><small class="text-light"><i class="icon-check"></i> Reseller</small></p>
              {% endif %}
            </div>
          </div>


          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

        </div>
      </div>
  </form>

  {% elif type == "make-payment" %}
  <form method="put" action="{% url 'ticketing:buy' concert.id  %}" id="make-payment">
    {% csrf_token %}
    <div class="progress">
      <div class="progress-bar col-md-6" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0"
        aria-valuemax="100">66%</div>
    </div>

    <div class="my-5">
      <h5 class="my-3">Total: ${{price}}</h5>
      <hr>

      <div class="row mt-3">
        <div class="col-md-8">
          <div class="form-group">
            <label for="card_number">Credit Card Number</label>
            <input type="text" id="card_number" name="card_number" class="form-control" maxlength="16">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="number" id="cvv" name="cvv" class="form-control" maxlength="4">
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="expiration_month">Expiration Date</label>
          <div class="form-group">
            <input type="number" id="expiration_month" name="expiration_month" class="form-control" placeholder="MM"
              maxlength="2">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="number" id="expiration_year" name="expiration_year" class="form-control" placeholder="YYYY"
              maxlength="4">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="card_number">Cardholder Name</label>
        <input type="text" id="card_number" name="card_number" class="form-control" placeholder="example: John Doe">
      </div>

    </div>

    <button type="submit" class="btn btn-dark w-100" form="make-payment">Pay</button>

  </form>
  {% elif type == "success" %}
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
</div>




<script>

  let quantity = 0;
  function incr_quantity(name, price) {
    //TODO add check if reseller or not
    document.getElementById("quantity").value = ++quantity;
  }

  function decr_quantity(qnt) {
    if (quantity - 1 >= 0)
      document.getElementById("quantity").value = --quantity;
  }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock body %}