{% extends 'Ticketing/base.html' %}
{% block title %}Venue All Concerts{% endblock %}

{% block body %}
 {% load static %}
 <br/> <br/><br/><br/>
  <link href="{% static 'css/venue.css' %}" rel="stylesheet">

   <div class="row">
  <div class="col-md-6">
    <h1 style="font-family: 'Segoe UI Black'; color: white " >All Concerts</h1>
  </div>

</div>


{% for concert in conc %}
<div class="accordion" id="accordionExample{{ forloop.counter }}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
      <button class= "accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="False" aria-controls="collapse{{ forloop.counter }} collapsed">
 <div class="container">
  <div class="row align-items-center">
    <div class="col-md-2">
      {% if concert.concert_image %}
  <img src="{{ concert.concert_image.url }}" alt="" style="width: 200px; height: 160px;">
{% endif %}
    </div>
    <div class="col-md-8 text-center">
      <h2>{{ concert.name }}</h2>
      <div class="row">
        <div class="col">
          <p class="text-muted">
            <span>Performed by:</span> {{ concert.artist_name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

      </button>
    </h2>
    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" >
      <div class="accordion-body">
<div class="container">
 <div class="row mb-3">
  <div class="col-md-5">
    <h5 class="fw-bold">Description</h5>
    <p>{{ concert.description }}</p>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-5">
        <h5 class="fw-bold">Concert Time</h5>
        <p>{{ concert.concert_date }}</p>
      </div>
      <div class="col-md-4">
        <h5 class="fw-bold">Minimum Age</h5>
        <p>{{ concert.min_age }}</p>
      </div>

      <div  class="col-md-3">
        <h5 class="fw-bold">Price</h5>
        <p>${{ concert.price }}</p>
      </div>

    </div>
  </div>
</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <a href="{% url 'ticketing:buy' concert.id  %}">
      <button type="button" class="btn btn-primary" id="buy-tickets-btn">Buy Tickets</button>
      </a>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

    {% endfor %}
    <br/>
<nav aria-label="Page navigation example" style="bottom: 0.5px; margin-top:10px; margin-left: 40px;position: fixed;" >
  <ul class="pagination">


    {% if conc.has_previous %}

        <a class="page-link" href="?page={{ conc.previous_page_number }}">&laquo</a></li>


    {% endif %}
<li class="page-item disabled"><a href="#" class="page-link" > {{ conc.number }}</a> </li>

    {% if conc.has_next %}
            <li class="page-item">
                <a class="page-link "href="?page={{ conc.next_page_number }}">&raquo</a></li>


    {% endif %}
   </ul>
</nav>
    <br/>


{% endblock %}