{% extends 'venue_management/base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 70vh;">
      <div class="col-lg-8">
        <div class="card text-center">
          <div class="card-header">
            <h1>Generate Promo Code Tool</h1>
          </div>
          <div class="card-body">
            <form method="post" class="form-horizontal">
              {% csrf_token %}
              <div class="row mb-3">
                <div class="col-sm-3">
                  <label class="form-label" for="{{ form.code.id_for_label }}">Code</label>
                </div>
                <div class="col-sm-9">
                  {{ form.code }}
                  {% for error in form.code.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <label class="form-label" for="{{ form.discount.id_for_label }}">Discount</label>
                </div>
                <div class="col-sm-9">
                  {{ form.discount }}
                  {% for error in form.discount.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <label class="form-label" for="{{ form.expiration_date.id_for_label }}">Expiration Date</label>
                </div>
                <div class="col-sm-9">
                  {{ form.expiration_date }}
                  {% for error in form.expiration_date.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary">Generate</button>
                </div>
              </div>
            </form>
            {% if promo_code %}
              <div class="alert alert-success mt-4" role="alert">
                Promo Code: {{ promo_code }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
