{% extends 'venue_management/base.html' %}
{% block title %}My Venues{% endblock %}
{% load static %}
{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
{% endblock %}
{% block content %}
  <div class="container">
    <br />
    <div>
      <div class="btn-toolbar float-end">
        <button class="btn btn-success" role="button" data-bs-toggle="modal" data-bs-target="#myModal"><i class="icon-plus" style="font-size: 14px"></i> New Venue</button>
      </div>
      <h1 class="text-light">My Venues</h1>
    </div>
    {% if success_message %}
      <div class="alert alert-success" role="alert">
        {{ success_message }}
      </div>
    {% endif %}
    {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-2">Name</th>
            <th scope="col" class="col-7">Description</th>
            <th scope="col" class="col-2">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for venue in venues %}
          <tr>
            <th class="col-3">{{ venue.name }}</th>
            <td class="col-5">
              {% if venue.description == None %}
                <em class="grey">No Description</em>
              {% else %}
                {{ venue.description }}
              {% endif %}
            </td>
            <td class="col-2">
              {# Action Buttons #}
              <a type="button" href="" class="btn btn-outline-primary">View</a>
              <a type="button" href="{% url 'venue_management:delete_venue'  %}" class="btn btn-outline-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if venues == None %}
        <div class="alert alert-dark" role="alert">
          You have no venues yet! Register one to see it here.
        </div>
      {% endif %}
    </div>
  </div>
  {% include 'venue_management/add_venue_modal.html' %}
{% endblock %}